img {
    width: 400px;
    height: 600px;
    background-color: black;
    animation: fade 10s;
}

main {
    display: block;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}