* {
	margin: 0;
	padding: 0;
}

body {
  display: grid;
  height: 100vh;
  grid-template-rows: 20% 10% 40% 30%;
}

header {
  background: rgb(44, 43, 42);
  color: #eee;
  padding: 2rem;
  grid-column: 1 / 4;
}

nav {
    grid-column: 1 / 4;
}

.navigation {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	background-color: #131313;
	align-items: center;
    height: 100%;
}
.navigation li {
	flex: 1 1 auto;
}

.navigation a {
	display: block;
	color: #eee;
	padding: 0.75rem;
	text-decoration: none;
	text-align: center;
}

.navigation a:hover {
	font-weight: 700;
	text-decoration: underline;
	text-decoration-color: yellow;
}

main {
  background: rgb(129, 126, 122);
  grid-column: 1 / 3;
  padding: 2rem;
}

.right-sidebar {
  background: #eee;
  grid-column: 3 / 4;
  padding: 2rem;
}

footer {
  background: rgb(44, 43, 42);
  color: #eee;
  padding: 2rem;
  text-align: center;
  grid-column: 1 / 4;
}