* {
    font-family: "Source Serif 4", serif;
}

header {
    background: rgb(44, 43, 42);
    color: #eee;
    padding: 2rem;
    text-align: center;
}

header span {
    display: block;
}

.navigation {
    list-style: none;
	display: flex;
	flex-wrap: wrap;
	background-color: #131313;
	align-items: center;
    height: 100%;
}
.navigation li {
	flex: 1 1 auto;
}

.navigation a {
	color: #eee;
	padding: 0.75rem;
	text-decoration: none;
	text-align: center;
}

.navigation a:hover {
	font-weight: 700;
	text-decoration: underline;
	text-decoration-color: yellow;
}

main {
    display: grid;
    text-align: center;
}

main h1 {
    grid-column: 1 / 4;
}

.card {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 0;
}

.card h2 {
    align-self: stretch;
    background-color: gray;
    height: 2em;
    width: 100%;
}

.card p {
    max-width: 40%;
    margin: auto;
}

.card img {
    width: auto;
    height: auto;
    margin-left: auto;
    max-width: 40%;
    max-height: 40%;
}

footer {
    background: rgb(44, 43, 42);
    color: #eee;
    padding: 2rem;
    text-align: center;
}