body {
    font-family: "Source Serif 4", serif;
    background-color: lightgoldenrodyellow;
}

header {
    text-align: center;
    display: grid;
    font-size: 2rem;
}

button {
    margin-bottom: 0;
}

#hamburger::before {
    content: "☰";
}

#hamburger.open::before {
    content: "❌";
}

nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1.5rem;
    color: black;
    height: 100%;
}

nav li {
    flex: 1 1 auto;
}

ul {
    display: none;
    background-color: lightgray;
    list-style: none;
    padding: 0.75rem;
}

ul.open {
    display: flex;
    flex-direction: column;
    padding-left: 5rem;
    padding-right: 5rem;
    border: 2px;
    border-style: dotted;
    border-top-style: none;
    margin-top: 0;
}

ul a {
    text-decoration: none;
    text-align: center;
}

ul a:hover {
	font-weight: 700;
	text-decoration: underline;
	text-decoration-color: blue;
}

main {
    max-width: 1400px;
    margin: 1em auto;
    border: 2px;
    border-style: solid;
    background-color: white;
}

h1 {
    text-align: center;
}

.album {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

figcaption {
    text-align: center;
}

img {
    width: 100%;
    height: auto;
}

footer {
    text-align: center;
    background-color: lightblue;
    padding: 1em;
    margin: 0;
}