body {
    background-color: rgb(223, 203, 93);
}

header, footer {
    background-color: rgb(161, 147, 66);
    text-align: center;
    padding: 1rem;
}

footer {
    margin-top: 1rem;
}

form {
    background-color: white;
}

fieldset {
    display: grid;
    margin: 1rem;
}

input[type=submit] {
    width: 100%;
    padding: 1rem;
    margin: auto;
    font-style: bold;
    font-size: 2rem;
}

div {
    background-color: white;
    text-align: center;
    padding: 2rem;
}

@media screen and (min-width: 500px) {
    form {
        width: 50%;
        margin: auto;
    }
}