@media screen and (min-width: 500px) {
    #weatherHeader::after {
        content: " ⛅";
    }

    #svgWeather {
        display: none;
    }

    img {
        object-fit: cover;
    }

    main {
        display: grid;
        grid-template-columns: repeat(4, minmax(50px, 1fr));
        grid-template-rows: repeat(3, minmax(200px, 1fr));
    }

    picture {
        grid-column: 1 / 5;
        grid-row: 1 / 4;
    }

    section {
        border: 1px;
        border-style: solid;
        width: 90%;
        opacity: 0.8;
    }

    #data {
        grid-column: 1;
        grid-row: 1;
        margin-top: 4rem;
        margin-left: 2rem;
        height: max(200px, 60%);
    }

    #weather {
        grid-column: 4;
        grid-row: 3;
        height: max(230px, 60%);
    }
}