body {
    font-family: "Source Serif 4", serif;
}

header {
    text-align: center;
    display: grid;
    padding: 2rem;
}

#hamburger::before {
    content: "☰";
}

#hamburger.open::before {
    content: "❌";
}

nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

nav li {
    flex: 1 1 auto;
}

ul {
    display: none;
    background-color: lightgray;
    list-style: none;
}

ul.open {
    display: flex;
    flex-direction: column;
}

ul a {
    padding: 5rem;
    text-decoration: none;
    text-align: center;
}

ul a:hover {
	font-weight: 700;
	text-decoration: underline;
	text-decoration-color: yellow;
}

main {
    max-width: 1400px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.album {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

figcaption {
    text-align: center;
}

img {
    width: 100%;
    height: auto;
}

footer {
    text-align: center;
}